body {
    background-image: url(../img/loginwallpaper.avif);
    background-repeat: no-repeat;
    background-size: cover;
}
.main-body{
    margin-top: 200px;
    align-items: center;
    margin-bottom: 100px;
}

.log-in {

    margin-left: 840px;
    height: 40px;
    margin-top: 30px;

}

.login-card {

    background-color: rgb(255, 255, 255);
    height: 550px;
    width: 480px;
    border-radius: 15px;
    -webkit-box-shadow: 4px 6px 26px -12px rgba(0,0,0,0.76);
    -moz-box-shadow: 4px 6px 26px -12px rgba(0,0,0,0.76);
    box-shadow: 4px 6px 26px -12px rgba(0,0,0,0.76);
    margin-left: 480px;

}

.text_square{

    font-family: "Roboto", sans-serif;
    border-style: hidden;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    width: 280px;
    outline: none;
    
    

}

.text_line {

    background-color: lightgray;
    width: 360px;
    height: 2px;
    margin-left: 50px;
    margin-bottom: 5px;
        

}

#line_margin{

    margin-bottom: 30px;

}

.material-symbols-outlined {

    margin-left: 50px;
    color: gray;

}

a {

    margin-left: 190px;

}

button {

    background-color: darkblue;
    color: white;
    height: 50px;
    width: 375px;
    margin-top: 35px;
    margin-left: 25px;
    border-radius: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    
}
#title-login{

    padding-left: 135px;
    padding-top: 30px;
}

.login-info{
    padding-left: 40px;
}

#notienes-login {
    padding-left: 110px;
}